$brand-theme-color:#174E8E;      //主体颜色

$border-color:#e0e0e0;           //边框颜色
$border-color-light:#efefef;     //边框亮色

$bg-color-white: #ffffff;        //背景颜色白
$bg-color-grey: #ededed;         //背景颜色灰
$bg-color-qa: #93d2f3;          //背景颜色问答蓝

$text-font-color-1:#000;         //文字主色
$text-font-color-2:#676767;      //副标题颜色
$text-font-color-3:#a7a7a7;      //浅色
$text-font-color-4:#e4e4e4;      //更浅
$text-font-color-5:#f4f4f4;  

$input-bg-color:#ffffff;         //输入框背景颜色

$page-padding: 20rpx;            //页面内距 
